---

---

<section class='w-full h-full'>
  <div class='container'>
    <h3 class='mb-8'>Wer bin ich</h3>
    <p class='w-full laptop:w-[75%]'>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. In laborum ipsum
      officiis aliquid vel possimus sequi! Laboriosam, sit! Distinctio repellat
      unde delectus reiciendis voluptatem laboriosam libero quisquam.
      Praesentium, repellat quo?
    </p>
  </div>
</section>
