---
import Link from "../Link.astro";
---

<section class='w-full h-full mt-36'>
  <div class='container'>
    <h2 class='text-4xl mb-16 inline-block'>Was ich tue</h2>

    <div class='w-full flex flex-col laptop:grid grid-cols-4 gap-8'>
      <!-- card 1 -->
      <div
        class='relative order-1 laptop:order-1 w-full h-[360px] ring-1 ring-borderLight bg-cardBg rounded-2xl p-5 flex flex-col justify-between'
      >
        <div class='grid_pattern absolute inset-0'></div>
        <div>
          <h3 class='text-2xl mb-8'>Unique Design</h3>
          <p class='text-gray leading-normal'>
            Ich erstelle einzigartige Designs um Sie von anderen Marken
            abzusetzen.
          </p>
        </div>
        <div>
          <img class='object-cover' src='/images/Star-img3.png' alt='stars' />
        </div>
      </div>

      <!-- card 2 -->
      <div
        class='relative order-3 laptop:order-2 w-full h-[360px] col-start-2 col-span-2 ring-1 ring-borderLight bg-cardBg rounded-2xl p-5'
      >
        <div class='grid_pattern absolute inset-0'></div>
        <div class='h-full'>
          <img
            class='w-full h-full object-cover rounded-2xl'
            src='/images/mac-pro-green.webp'
            alt='mac pro'
          />
        </div>
      </div>

      <!-- card 3 -->
      <div
        class='relative order-5 laptop:order-3 w-full h-[360px] ring-1 ring-borderLight bg-cardBg rounded-2xl p-5 flex flex-col justify-between'
      >
        <div class='grid_pattern absolute inset-0'></div>
        <div>
          <h3 class='text-2xl mb-8'>Good Cooperation</h3>
          <p class='text-gray leading-normal'>
            Ich freu mich Ihr digitales Projekt mit absoluter Leidenschaft
            umsetzen zu d체rfen.
          </p>
        </div>
        <Link
          BtnStyle='text-black text-center bg-accent  py-1 rounded-2xl ring-1 ring-accent'
          title='Kontakt'
          path='/kontakt'
        />
      </div>

      <!-- card 4 -->
      <div
        class='relative order-2 laptop:order-4 w-full h-[360px] col-start-1 col-span-2 ring-1 ring-borderLight bg-cardBg rounded-2xl p-5 flex flex-col justify-between'
      >
        <div class='grid_pattern absolute inset-0'></div>
        <div>
          <h3 class='text-2xl mb-8'>Development</h3>
          <p class='text-gray leading-normal max-w-[460px]'>
            Ich arbeite mit den neuesten Webtechnologien um das maximum und
            einen reibungslosen Ablauf zu gew채hrleisten.
          </p>
        </div>
        <div class='flex justify-end'>
          <svg
            width='206.00012px'
            height='87.00012px'
            viewBox='0 0 206.00012 87.00012'
            version='1.1'
            xmlns:xlink='http://www.w3.org/1999/xlink'
            xmlns='http://www.w3.org/2000/svg'
          >
            <g id='Logo'>
              <g id='P'>
                <path
                  d='M0 0.0927097C0 0.0927097 49.7253 -0.115887 71.6432 0.0927097C101.545 0.377288 104.917 39.5458 75.0877 44.0598C64.8413 44.0598 28.1083 44.0598 28.1083 44.0598L28.1083 60.4247L66.0336 60.4293L66.0336 86.9994L0 86.9994L7.30939e-06 60.4293L26.9205 60.4293L26.9205 26.6699L0 26.6699L0 0.0927097Z'
                  id='P'
                  fill='#B9FD50'
                  fill-rule='evenodd'
                  stroke='none'></path>
                <path
                  d='M28.2405 26.7541C28.2405 26.7541 60.6347 26.7541 75.4839 26.7541C88.4388 26.8215 89.6038 42.1358 73.1086 43.1614C61.2641 43.1614 28.2405 43.1614 28.2405 43.1614L28.2405 26.7541Z'
                  id='Rectangle'
                  fill='#171717'
                  fill-rule='evenodd'
                  stroke='none'></path>
              </g>
              <g id='S' transform='translate(109.530495 0.092926055)'>
                <path
                  d='M22.6168 0C39.8011 0 96.3817 0 96.3817 0L96.3817 26.6654C96.3817 26.6654 37.708 26.6615 19.3148 26.6615C7.88152 26.7283 5.15077 42.5147 23.8016 42.8122C43.8246 42.8122 57.1572 42.8122 74.6074 42.8122C104.153 44.5373 104.044 87.1203 72.4959 86.9064C44.1987 86.9064 0.312805 86.9068 0.312805 86.9068L0.312805 59.9637C0.312805 59.9637 58.6103 59.9637 78.0393 59.9637C90.4689 58.1569 88.3819 44.0717 74.0801 44.0717C61.1316 44.0717 40.3793 44.0717 24.9895 44.0717C-4.84797 44.6397 -10.7513 3.48228 22.6168 0Z'
                  id='s'
                  fill='#B9FD50'
                  fill-rule='evenodd'
                  stroke='none'></path>
              </g>
            </g>
          </svg>
        </div>
      </div>

      <!-- card 5 -->
      <div
        class='order-4 laptop:order-5 w-full tablet:h-[360px] flex flex-col tablet:flex-row justify-between gap-5 col-span-2 ring-1 ring-borderLight bg-cardBg rounded-2xl p-5'
      >
        <div class='relative basis-2/5 flex flex-col justify-between'>
          <div class='grid_pattern absolute inset-0'></div>
          <div class=''>
            <h3 class='text-2xl mb-8'>Field of View</h3>
            <p class='text-gray leading-normal mb-8 tablet:mb-0'>
              Ich teste Ihre Webseite auf einer Vielzahl von mobilen Ger채ten, um
              sicherzustellen, dass sie 체berall gut aussieht und funktioniert.
            </p>
          </div>
          <div>
            <img class='object-cover' src='/images/Star-img2.png' alt='stars' />
          </div>
        </div>

        <div class='basis-3/5'>
          <img
            class='h-full object-cover rounded-2xl'
            src='/images/mobile.png'
            alt='mobile'
          />
        </div>
      </div>
    </div>
  </div>
</section>
