---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Startseite/Hero.astro";
import HeroBg from "../components/Startseite/HeroBg.astro";
import PageLoader from "../components/PageLoader.astro";
import About from "../components/Startseite/About.astro";
import Bento from "../components/Startseite/Bento.astro";
---

<Layout title='Welcome to Astro.'>
  <main>
    <PageLoader />
    <Hero />
    <About />

    <Bento />
    <!-- <HeroBg /> -->
  </main>
</Layout>
