---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Startseite/Hero.astro";
import BentoGrid from "../components/Startseite/BentoGrid.astro";
import Link from "../components/Link.astro";
import HeroBg from "../components/Startseite/HeroBg.astro";
---

<Layout title='Welcome to Astro.'>
  <main>
    <Hero />
    <BentoGrid />
    <HeroBg />
  </main>
</Layout>
