---
import Link from "./Link.astro";
import MobileNav from "./MobileNav.astro";
---

<header class='w-full h-24 z-50 px-5'>
  <nav class='max-w-[1615px] h-full mx-auto flex items-center justify-between'>
    <div class='flex-1'>
      <a aria-label='logo' href='/'
        ><svg
          width='76.000015px'
          height='32.000053px'
          viewBox='0 0 76.000015 32.000053'
          version='1.1'
          xmlns:xlink='http://www.w3.org/1999/xlink'
          xmlns='http://www.w3.org/2000/svg'
        >
          <g id='Logo'>
            <g id='P'>
              <path
                d='M0 0.0341001C0 0.0341001 18.3453 -0.0426252 26.4315 0.0341001C37.4631 0.138773 38.7072 14.5456 27.7023 16.2059C23.922 16.2059 10.37 16.2059 10.37 16.2059L10.37 22.2252L24.3619 22.2269L24.3619 31.9998L0 31.9998L2.69667e-06 22.2269L9.93184 22.2269L9.93184 9.80963L0 9.80963L0 0.0341001Z'
                id='P'
                fill='#FFFFFF'
                fill-rule='evenodd'
                stroke='none'></path>
              <path
                d='M10.4188 9.84065C10.4188 9.84065 22.3701 9.84065 27.8484 9.84065C32.6279 9.86543 33.0577 15.4983 26.972 15.8755C22.6022 15.8755 10.4188 15.8755 10.4188 15.8755L10.4188 9.84065Z'
                id='Rectangle'
                fill='#000000'
                fill-rule='evenodd'
                stroke='none'></path>
            </g>
            <g id='S' transform='translate(40.40927 0.03413392)'>
              <path
                d='M8.34403 -3.72529e-09C14.6839 -3.72529e-09 35.5583 -3.72529e-09 35.5583 -3.72529e-09L35.5583 9.80798C35.5583 9.80798 13.9117 9.80656 7.12586 9.80656C2.90773 9.8311 1.90028 15.6376 8.78118 15.7471C16.1683 15.7471 21.0871 15.7471 27.5251 15.7471C38.4255 16.3816 38.3853 32.0443 26.7461 31.9656C16.3063 31.9656 0.115364 31.9657 0.115364 31.9657L0.115364 22.0556C0.115364 22.0556 21.6232 22.0556 28.7912 22.0556C33.3769 21.3911 32.6069 16.2103 27.3305 16.2103C22.5534 16.2103 14.8972 16.2103 9.21943 16.2103C-1.78856 16.4192 -3.96649 1.28084 8.34403 -3.72529e-09Z'
                id='s'
                fill='#FFFFFF'
                fill-rule='evenodd'
                stroke='none'></path>
            </g>
          </g>
        </svg></a
      >
    </div>

    <div class='basis-3/5 hidden laptop:block'>
      <ul
        class='w-fit mx-auto flex gap-x-16 justify-center ring-1 ring-borderLight px-8 py-2 rounded-2xl'
      >
        <Link
          BtnStyle='text-white bg-background  py-1 rounded-2xl'
          title='Startseite'
          path='/'
        />
        <Link
          BtnStyle='text-white bg-background py-1 rounded-2xl '
          title='Leistungen'
          path='/leistungen'
        />
        <Link
          BtnStyle='text-white bg-background  py-1 rounded-2xl '
          title='Referenzen'
          path='/referenzen'
        />
        <Link
          BtnStyle='text-white bg-background  py-1 rounded-2xl '
          BtnStyleActive='text-accent bg-background  py-1 rounded-2xl'
          title='Über mich'
          path='/ueber-mich'
        />
      </ul>
    </div>

    <div class='hidden flex-1 laptop:flex justify-end'>
      <Link
        BtnStyle='text-black bg-accent px-8 py-1 rounded-2xl ring-1 ring-accent'
        title='Kontakt'
        path='/kontakt'
      />
    </div>

    <button
      id='menu_btn'
      class='laptop:hidden w-16 h-8 flex flex-col items-end justify-center space-y-2 transition-all'
    >
      <span class='inline-block w-full h-[2px] bg-white'></span>
      <span class='inline-block w-3/5 h-[2px] bg-white'></span>
    </button>
  </nav>

  <MobileNav />
</header>

<style>
  .active :first-child {
    rotate: 45deg;
    width: 60%;
    transform: translateY(6px);
  }
  .active :last-child {
    rotate: -45deg;
    transform: translateY(-6px);
  }
</style>

<script></script>
