---

---

<div
  class='w-full h-screen flex items-center justify-center absolute top-0 left-0 bg-background'
>
  <h1 class='element loader text-6xl overflow-hidden leading-[93.999%]'>
    Developer
  </h1>
</div>

<style is:global>
  .loader .char {
    transform: translateY(50px);
    transition: transform 0.5s;
  }
</style>
